*,
::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 11px;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #EDEDED;
}

a {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CDCDCD;
}

.container {
  width: 595px;
  height: 842px;
}

.header_wrapper {  
  display: flex;
  background-color: #DFB131;
}

.avatar {
  display: flex;
}

.contact_information {
margin: 13px 27px;
}

.contact_information > div {
  margin-bottom: 10px;
}

.contact_information__social {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contact_information__social .social_links > div {
  margin-bottom: 8px;
}