*,
::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #EDEDED;
}

a {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CDCDCD;
}

.container {
  width: 595px;
  height: 842px;
}

.header_wrapper {  
  display: grid;
  grid-auto-flow: column;
  background-color: #DFB131;
}

.avatar {
  display: flex;
}

.personal_data {
/* margin: 13px 27px; */
/* margin-right: 30px; */
}

.personal_data > div {
  /* margin-bottom: 10px; */
}

.contact_information__social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin-top: 50px; */
}

.contact_information__social .social_links > div {
  margin-bottom: 8px;
}

.social_links a {
  display: flex;
}

.social_links img {
  margin-right: 5px;
}